@font-face {
    font-family: "Niladri";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("Niladri"),   url('/fonts/niladri.ttf') format("truetype");
}
  

.flipbook .bounding-box {
    box-shadow: 0 0 20px #000;
    margin-bottom: 10px;
    
  }